<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Coda:400,800|Condiment|Courgette|Mrs+Sheppards|Ranga:400,700|Yellowtail" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Coda:400,800" rel="stylesheet">


@*<<<<<<< HEAD
=======
    <link href="~/Content/grayscale.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

>>>>>>> FinishingTouches*@


    <title>@ViewBag.Title - Heat</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

   



    <!-- Intro Header -->
    <header class="masthead" id="top">
        <div class="intro-body">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">                   
                       
                    @Html.Partial("_LoginPartial")
                </nav>
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Heat<span class="glyphicon glyphicon-fire"></span></h1>
                        <p class="intro-text">
                            a cool solution
                            <br>to a heated problem.
                        </p>
                        <a href="#title" class="btn btn-circle js-scroll-trigger">
                            @*<i class="fa fa-angle-double-down animated"></i>*@
                            <span class="glyphicon glyphicon-fire animated"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <div class="container body-content" id="title">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Heat</p>            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/grayscale.min.js")
    @RenderSection("scripts", required: false)

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>



</html>
