@model IEnumerable<Heat.Models.Couple>
@using Heat.Models
@Styles.Render("~/Content/CouplesIndexStyle.css")
@{
    ViewBag.Title = "Home Page";

}


<div class="container grey-box" id="nowList">
    <div class="thumbnailMain">
        <h3>Now:@*Heat:*@ @ViewBag.CurrentHeat @*Level: @ViewBag.DanceLevel Combination: @ViewBag.Combo Dance: @ViewBag.DanceType*@ </h3>
        <!--Displays the now list.-->

        <div class="row" id="nowCouples">

            @foreach (var item in Model)
            {
                if (item.HeatList.Status == "Now")
                {
                    <div class="col-sm-6 col-md-2">
                        <div class="caption">
                            <h1>@Html.DisplayFor(modelItem => item.Number)</h1>

                            <p>@Html.DisplayFor(modelItem => item.Pro.Name)</p>

                            <p>@Html.DisplayFor(modelItem => item.Partner)</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="row">

        <div class="container col-md-6">
            <div class="thumbnailMain">
                <h2>On deck</h2>
                <h3>@ViewBag.OnDeckHeat</h3>
                <div>
                    @foreach (var item in Model)
                    {
                        if (item.HeatList.Status == "On deck")
                        {

                            <div class="caption">
                                <ul>
                                    <li>
                                        <h3>@Html.DisplayFor(modelItem => item.Number) </h3>
                                        <p>@Html.DisplayFor(modelItem => item.Pro.Name)</p>
                                        <p>@Html.DisplayFor(modelItem => item.Partner)</p>
                                    </li>

                                </ul>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
        <div class="container col-md-6">
            <div class="thumbnailMain">
                <h2>In the hole</h2>
                <h3>@ViewBag.InTheHoleHeat</h3>
                <div>

                    @foreach (var item in Model)
                    {
                        if (item.HeatList.Status == "In the hole")
                        {

                            <div class="caption">
                                <ul>
                                    <li>
                                        <h3>@Html.DisplayFor(modelItem => item.Number) </h3>
                                        <p>@Html.DisplayFor(modelItem => item.Pro.Name)</p>
                                        <p>@Html.DisplayFor(modelItem => item.Partner)</p>
                                    </li>

                                </ul>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            function startRefresh() {
                $.get('', function (data) {
                    $(document.body).html(data);
                });
            }
            $(function () {
                setTimeout(startRefresh, 1000);
            });
        })
    </script>
}

