@model IEnumerable<Heat.Models.Couple>
@{
    ViewBag.Title = "Home Page";
}


<h1>Now</h1>

<!--Displays the now list.-->
<div class="container" id="nowList">
    <div class="row" id="nowCouples">
        @foreach (var item in Model)
        {
            if (item.HeatList.Status == "Now")
            {
                <div class="col-sm-6 col-md-2">
                    <div class="caption">
                        <h1>@Html.DisplayFor(modelItem => item.Number)</h1>
                        <p>@Html.DisplayFor(modelItem => item.Pro.Name)</p>
                        <p></p>
                    </div>
                </div>
            }
        }
    </div>
    
</div>

<!--Displays On the deck and In the hole-->
<div class="row">
    <div class="container col-md-6">
        <h2>On the deck</h2>
        @foreach (var item in Model)
        {
            if (item.HeatList.Status == "On the deck")
            {
                <div class="caption">
                    <ul>
                        <li><h3>@Html.DisplayFor(modelItem => item.Number) </h3><p>@Html.DisplayFor(modelItem => item.Pro.Name)</p></li>

                    </ul>
                </div>
            }
        }
    </div>

    <h2>In the hole</h2>
    @foreach (var item in Model)
    {
        if (item.HeatList.Status == "In the hole")
        {
            <div class="caption">
                <ul>
                    <li><h3>@Html.DisplayFor(modelItem => item.Number) </h3><p>@Html.DisplayFor(modelItem => item.Pro.Name)</p></li>

                </ul>
            </div>
        }
    }
</div>

@*<div>
    @foreach (var item in Model)
    {

        if (item.HeatList.Status == "Now")
        {
            <ul>
                <li>
                    @Html.DisplayNameFor(model => model.HeatList.Name): @Html.DisplayFor(modelItem => item.HeatList.Name)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.HeatList.Status): @Html.DisplayFor(modelItem => item.HeatList.Status)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.DanceType.Dance): @Html.DisplayFor(modelItem => item.DanceType.Dance)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.DanceLevel.DanceLevel1): @Html.DisplayFor(modelItem => item.DanceLevel.DanceLevel1)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Combo.Combo1): @Html.DisplayFor(modelItem => item.Combo.Combo1)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Number): @Html.DisplayFor(modelItem => item.Number)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Pro.Name): @Html.DisplayFor(modelItem => item.Pro.Name)
                </li>
            </ul>
        }
    }

    <h1>In the hole</h1>
    @foreach (var item in Model)
    {
        if (item.HeatList.Status == "In the hole")
        {
            <ul>
                <li>
                    @Html.DisplayNameFor(model => model.HeatList.Name): @Html.DisplayFor(modelItem => item.HeatList.Name)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.HeatList.Status): @Html.DisplayFor(modelItem => item.HeatList.Status)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.DanceType.Dance): @Html.DisplayFor(modelItem => item.DanceType.Dance)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.DanceLevel.DanceLevel1): @Html.DisplayFor(modelItem => item.DanceLevel.DanceLevel1)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Combo.Combo1): @Html.DisplayFor(modelItem => item.Combo.Combo1)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Number): @Html.DisplayFor(modelItem => item.Number)
                </li>
                <li>
                    @Html.DisplayNameFor(model => model.Pro.Name): @Html.DisplayFor(modelItem => item.Pro.Name)
                </li>
            </ul>
        }
    }*@
