@using Heat.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Groovy Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->
    <!-- Font-Awesome-CSS -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!--// Font-Awesome-CSS -->
    <!-- Required Css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!--// Required Css -->
    <!--My Style Sheet-->
    <link href="~/Content/KaitieStyleSheet.css" rel="stylesheet" />
    <!--fonts-->
    @*<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">*@
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Coda:400,800" rel="stylesheet">
    <!--//fonts-->

</head>

<body>
    <!--background-->
    <hr />
    <hr />    
    <!-- Main-Content -->
    <div class="main-w3layouts-form rounded">
        <h2>Login to your account</h2>
        <!-- main-w3layouts-form -->

        <div class="fields-w3-agileits rounded">
            <section id="loginForm rounded">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input class="rounded" type="text" name="email" placeholder="Email"><br>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input class="rounded" type="text" name="password" placeholder="Password"><br>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        <div>
                            @Html.ActionLink("Register as a new user", "Register", new { @class = "btn btn-primary", role = "button" })
                        </div>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                }

                <div class="footer_grid-w3ls col-md-offset-2 rounded">
                    <section id="socialLoginForm rounded">

                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        <ul class="social-icons-agileits-w3layouts">
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                        </ul>
                    </section>
                </div>
            </section>
        </div>



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</body>