@model IEnumerable<Heat.Models.Couple>
@Styles.Render("~/Content/CouplesIndexStyle.css")

@{
    ViewBag.Title = "Index";
}


<h1>Registered Couples</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Pro"))
{
    <div class="create">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
}
<div class="col-md-5"></div>
<div class="row col-md-6">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Couples", FormMethod.Get))
        {
            @Html.TextBox("search");
            <input type="submit" name="submit" value="Search" />
        }
    </div>
</div>

<div class="row grey-box">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.Pro.Name)</dt>
                        <dd>@Html.DisplayFor(modelItem => item.Pro.Name)</dd>

                        <dt>@Html.DisplayNameFor(model => model.Partner)</dt>
                        <dd>@Html.DisplayFor(modelItem => item.Partner)</dd>

                        <dt>@Html.DisplayNameFor(model => model.HeatList)</dt>
                        <dd>@Html.DisplayFor(modelItem => item.HeatList.Name)</dd>

                    </dl>
                    <br />
                    <p>@Html.ActionLink("Details", "Details", new { id = item.CouplesID }, new { @class = "btn btn-primary", role = "button" })</p>
                    @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
                    @if (User.IsInRole("Admin") || User.IsInRole("Pro"))
                    {
                        <p>

                            @Html.ActionLink("Edit", "Edit", new { id = item.CouplesID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CouplesID })
                        </p>
                    }

                </div>
            </div>
        </div>
    }
</div>

